body{
    display: grid;
    background-color: black;
}
.conteudo{
    display: grid;
    grid-template-columns: auto auto auto;
    border-radius: 50%;
    grid-gap: 6px;
}
.subtitulo{
    background-color: rgb(43, 43, 41);
    padding: 15px;
    color: white;
    font-family: arial;
}
.div1{
    border-radius: 50px;
    transition: transform 0.3s ease;
}
.div1:hover{
    transform: scale(1.1);
}
.div2{
    border-radius: 50px;
    transition: transform 0.3s ease;
}
.div2:hover{
    transform: scale(1.1);
}
.div3{
    border-radius: 50px;
    transition: transform 0.3s ease;
}
.div3:hover{
    transform: scale(1.1);
}